<div class="container align-items-center" style="margin-top: 30px">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
      <div class="card text-white" style="border-radius: 1rem">
        <div class="card-body text-center">
          <form
            class="mb-md-5 mt-md-4"
            (submit)="submit(name.value, password.value)"
          >
            <h2 class="fw-bold mb-2 text-uppercase" id="title">Login</h2>
            <p class="text-white-50 mb-5">
              Please enter your username and password!
            </p>

            <div class="form-outline form-white mb-4">
              <label class="form-label" for="typeName">username</label>
              <input type="text" id="typeName" class="form-control" #name />
            </div>
            <div class="form-outline form-white mb-4">
              <label class="form-label" for="typePasswordX">Password</label>
              <input
                type="password"
                id="typePasswordX"
                class="form-control"
                #password
              />
            </div>

            <p class="small mb-5 pb-lg-2">
              <a class="text-50" id="title" href="#!">Forgot password?</a>
            </p>

            <button class="btn btn-outline-light btn-lg px-5" type="submit">
              Login
            </button>
          </form>

          <div>
            <p class="mb-0" id="title">
              Don't have an account?
              <a href="#!" routerLink="/signup" class="text-50 fw-bold"
                >Sign Up</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
