<div class="container">
  <h2> Timer </h2>
</div>
<div class="container1">
  <div class="timer">
    <h3>5:30</h3>
  </div>
  <div class="question-remaining">
  </div>


  <div class="card">
    <div class="card-title">
       
      <h3>
        Question 1
      </h3>
    </div>
    <div class="card-content">
      <h5>Question</h5>
    </div>
    <div class="content">
      <ol>
        <div>
          <li>Question </li>
        </div>
        <div>
          <li>Question </li>
        </div>
        <div>
          <li>Question </li>
        </div>
        <div>
          <li>Question </li>
        </div>
      </ol>
    </div>
 </div>
<form>
  <div class="bottom">
    <button class="btn btn-primary" type="submit">SUBMIT</button>
  </div>
</form>
 </div>

 <div>
  <form>
    <textarea required placeholder="Write code here" name="" cdkTextareaAutosize>
        </textarea>
        <button class="btn btn-primary" type="submit">SUBMIT</button>
  </form>
 </div>

   
  


