.container{
    padding-top: 70px;
    text-align: center;
}

h2{
    text-align: center;
    color: #F35011;
}
.container1 {
  margin-top: 10vh;
  margin-left: 5vh;
  margin-right: 5vh;
  padding: 5vh;
  border-radius: 8px;
  display:block;
  height: 50vh;
  background: white;
   
  backdrop-filter: blur(10px)
}
.question-remaining{
  text-align: center;
}

.card{
  background: rgba(82, 22, 22, 0.25);
  opacity: .5;
}

.timer{
    text-align: end;
}

.bottom{
 justify-content: space-between;
 align-content: flex-end;
 float: right;
}

button{
  justify-content: center;
  background-color: #F35011;
  /* float: right; */
  margin: 2vh;
  border-radius: 8px;
}