
<div class="topnav">


  <!-- Centered link -->
  <div class="topnav-centered">
    <!-- <a href="#" class="active">Assessments</a> -->
  </div>

  <!-- Left-aligned links (default) -->
  <a href="">
  <img alt="Angular Logo" src="assets/moringa-logo 1.png" /></a>
  <!-- <a href="#news">News</a>
  <a href="#contact">Contact</a> -->

  <!-- Right-aligned links -->
  <div class="topnav-right">
    <!-- <!-- <a href="#search">Search</a> -->
    
    <!-- <a href="#profile">Profile</a> -->
  </div>

</div>
