<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="navigation">
        <a href=""><button>RESULTS</button> </a>
        <button>ASSESSMENTS</button>
        <button>COMPLETED</button>
  </div>
  <div class="container">
    <div class="photo">
      <img src="/assets/test.jpg" alt="">
    </div>
      <div class="main">
      <h5>NestedList:Python</h5>
       <span><img src="/assets/time.png"class="time">
       Time Limit</span>
       <br>
      <button class="status">NOT STARTED</button>
      
      </div>
      <div class="timeLimit">
      <span>
      <img src="/assets/time.png" class="time">
      Duration</span>
     </div>
      <div class="action">
        <a href="/practise-test"><button id="real" class="practice">PRACTICE</button></a>
        <a href="/take-test"><button id="real" class="real">START ASSESSMENT</button></a>
      </div>
  
      
  </div>
  
  
     
      
</body>

</html>
