
.container1{
  margin-left: 30vh;
  margin-right: 30vh;
  margin-bottom: 2vh;
  margin-top: 10vh;
  border-radius: 8px;
  display: flex;
  background-color: rgb(255, 253, 245);
  width: 150vh;
  height: 50vh;
}
.container2 {
 margin-left: 30vh;
 margin-right: 30vh;
 margin-bottom: 2vh;
 border-radius: 8px;
 display: flex;
 background-color: rgb(255, 253, 245);
 width: 150vh;
 height: 50vh;
}
p{
    color: white;
}
textarea{
    width: 75vh;
}