<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 <div class="container1">
    <h2> Multiple Choice Practice </h2>
    <div>
   <h6>Welcome to Moringa Codehack</h6>
   </div>
 </div>
 <div class="container2">
     <h2> Code Practice </h2>
   <!-- <div>
    <h5> Write your Code here</h5>
   <textarea>

</textarea>
   </div> -->
<form>
<textarea required placeholder="Write code here" name="" cdkTextareaAutosize>
        </textarea>
</form>
 </div>
</body>
</html>
